<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Home</a>
		</div>
		
		<div>
			<ul class="nav navbar-nav">
				<!--<li{% if page['section']=="home" %} class="active"{% endif %}><a href="/admin">Submitted</a></li>-->
				<li{% if page['section']=="items" %} class="active"{% endif %}><a href="/admin/items">Items</a></li>
				<li{% if page['section']=="categories" %} class="active"{% endif %}><a href="/admin/categories">Categories</a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="/logout"><i class="fa fa-sign-out"></i></a>
				</li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li{% if page['section']=="users" %} class="active"{% endif %}>
					<a href="/admin/users">Users</a>
				</li>
				<li{% if page['section']=="pages" and page['sub_section'] =="page1" %} class="active"{% endif %}>
					<a href="/admin/pages/1">Home Page</a>
				</li>
				<li{% if page['section']=="pages" and page['sub_section'] =="page2" %} class="active"{% endif %}>
					<a href="/admin/pages/2">About Page</a>
				</li>
				<li{% if page['section']=="pages" and page['sub_section'] =="page3" %} class="active"{% endif %}>
					<a href="/admin/pages/3">Contact Page</a>
				</li>
			</ul>
	
		</div>
	</div>
</nav>