<div class="row">
	<div class="col-md-7">
		<div id="record-details">
			
		</div>
	</div>
	<div class="col-md-5">
		<div id="cat-list-area"  >
		
		</div>
	</div>
</div>
<div class="loadingmask"></div>