{% macro categorylist(data,level) %}
	{% import _self as macro %}
	{% for row in data %}
		<option value="{{ row['ID'] }}">{% for i in 0..level %}&nbsp;&nbsp;&nbsp;-{% endfor %} {{ row['category'] }}</option>
		{{ macro.categorylist(row['children'],level+1) }}
	{% endfor %}
{% endmacro %}
	
	{% import _self as macro %}



<div class="row">
	<div class="col-md-7">
		<div id="record-details" data-spy="affix"  style="width:554px; bottom:0px; top:40px; padding:10px;" >
			
		</div>
	</div>
	<div class="col-md-5" style="position:relative;">
		<div style="position: fixed; top:50px; width: 350px; margin-left:40px; box-shadow: 0 0 10px #ccc;">
			<select name="catlist" id="catlist" style="width: 350px;">
				<option value="">All Records</option>
				{{ macro.categorylist(_categories,0) }}
				
			</select>
		</div>
	
		<div id="cat-list-area" style="margin-top:40px;"  >
		
		</div>
	</div>
</div>
<div class="loadingmask"></div>