#cat-list-area > ol {
  margin-left: 0;
}
#cat-list-area ol li {
  padding: 0;
  list-style: none;
  list-style-position: outside;
  border-top: 1px dotted #ccc;
}
#cat-list-area ol li div {
  padding: 5px 5px 5px 10px;
  margin: 0;
}
#cat-list-area ol li div:hover {
  background-color: #deebff;
  cursor: pointer;
}
#cat-list-area ol li.active > div {
  background-color: #deebff;
}
