<div class="navbar">
	<div class="container">
		<a href="/about">About</a>
		<a href="/about">Contact</a>
	</div>
	
</div>
<div class="navbar navbar-inverse " id="footer-nav-bar">
	<div class="container">
		<div class="c s" style="color:#fff;">
			Copyright Zoutnet

		</div>
		
		
	</div>
</div>
