<section id="footer-nav-bar">
	<div class="clearfix"></div>
	
	
	<div class="navbar navbar-inverse " style="margin-bottom:0;border-radius:0;">
		<div class="container">
			<div class="c s" style="color:#fff;">
				Copyright Zoutnet
				<p>1</p>
				
				<p>2</p>
				
				<p>3</p>
			
			</div>
		
		
		</div>
	</div>
</section>
<div class="navbar navbar-fixed-bottom">
	<div class="container ">
		<div id="search-bar">
			
			
			<form role="search" class=" ">
				<div class="input-group input-group-lg">
					<input type="text" class="form-control input-lg" id="search-church" placeholder="Lets find it">
      <span class="input-group-btn">
        <button class="btn btn-default btn-lg" type="submit">Search</button>
      </span>
				</div>
				
				
				
			
			</form>
		</div>
	
	</div>

</div>