<div class="alert alert-info visible-sm-block visible-xs-block c" style="padding:0;">
	Swipe right for the side column / extra details. (or click on the ellipsis on the left side of the screen)
</div>