<div class="row" style="position: relative;">
	<div class="col-md-4 affix affix-top  sidebar-offcanvas" id="left-area">
		<section id="left-area-content" class="content">
			<section >
				
				<h3>Suggested</h3>
				<a href="/place/1/this-is-my-place">
					<div style="background-color: #e1e1e1; border:1px solid #ccc; width:360px; height:200px;"></div>
					<h5>THis is my place</h5>
				</a>
				<div class="clearfix" style="height:30px;"></div>
				<h4>Recently Added</h4>
				
				
				
				<div class="clearfix" style="height:30px;"></div>
				<div style="position: absolute; bottom:5px; left:10px; right:10px;" class="c">
					Know a place that's not listed? let us know <a href="/submit"><i class="fa fa-plus-square" style="margin-left:10px;"></i> Submit a listing</a>
				
				</div>
			</section>
			
			<section class="content-footer"></section>
		</section>
	</div>
	<div class="col-md-7 col-md-offset-5 row-offcanvas row-offcanvas-left match-height" id="right-area">
		<div data-toggle="offcanvas" class="offcanvas visible-sm-block visible-xs-block">
			<i class="fa fa-ellipsis-v"></i>
		</div>
		<section id="right-area-content-area">
			<section id="right-area-content" class="content">
				<h3 style="margin-top:8px;">Welcome to our Information Directory
					<small class="pull-right">your online guide to local business.</small>
				</h3>
				
				<div style="border:1px solid #ccc; background-color: #e1e1e1; height:100px; margin-top:30px;"></div>
				
				<p style="margin:20px 0;">
					Browse through the list of categories, or search for a specific company below. You can also use the map to find a specific business.
				</p>
				
				<h4>421 Businesses listed and counting...</h4>
				<p>
				</p>
				
				
				<section id="category-list-blocks" style="margin-top:50px;">
					{% for row in _categories %}
						<a href="/list/{{ row['ID'] }}/{{ row['url'] }}">
							{% if row['itemCount'] %}
								<span class="badge pull-right">{{ row['itemCount'] }}</span>
							{% endif %}
							{{ row['category'] }}
						
						</a>
					{% endfor %}
					<div class="clearfix"></div>
				</section>
			</section>
			
		</section>
	
	</div>
	
</div>