<div class="row">
	<div class="" id="whole-area">
		<div style="max-width:600px; margin: 0 auto;">
			
			<h1>Please login</h1>
			
			<form class="form-horizontal" action="/admin" method="post" style="margin:30px auto; ">
				<div class="form-group">
					<label for="login_email" class="col-sm-2 control-label">Email</label>
					
					<div class="col-sm-10">
						<input type="email" class="form-control" id="login_email" name="login_email" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<label for="login_password" class="col-sm-2 control-label">Password</label>
					
					<div class="col-sm-10">
						<input type="password" class="form-control" id="login_password" name="login_password" placeholder="Password">
					</div>
				</div>
				
				<div class="form-group" style="margin-top:40px;">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default pull-right">Login</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
