<div class="row">
	<div class="" id="whole-area">
		<section id="whole-area-content" class="content">
			<div style="background-color: #fff; width: 100%; height: 200px;" id="map-area" ></div>
		</section>
	</div>
	
</div>